In [18]:
import numpy as np 
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns

pd.set_option('display.max_rows', 1000)
pd.options.display.max_columns = 1000

df = pd.read_csv('train_sample.csv', delimiter = ',')

/Users/mj/miniconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (11,15) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [104]:
# First look at the data

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 795003 entries, 0 to 999999
Data columns (total 47 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   fecha_dato             795003 non-null  object
 1   ncodpers               795003 non-null  int64
 2   ind_empleado           795003 non-null  object
 3   pais_residencia        795003 non-null  object
 4   sexo                   795003 non-null  object
 5   age                    795003 non-null  int64
 6   fecha_alta             795003 non-null  object
 7   ind_nuevo              795003 non-null  float64
 8   antiguedad             795003 non-null  object
 9   indrel                 795003 non-null  float64
 10  indrel_1mes            792599 non-null  object
 11  tiprel_1mes            792599 non-null  object
 12  indresi                795003 non-null  object
 13  indext                 795003 non-null  object
 14  canal_entrada          790970 non-null  object
 15  indfall                795003 non-null  object
 16  tipodom                795003 non-null  float64
 17  cod_prov               795003 non-null  float64
 18  nomprov                795003 non-null  object
 19  ind_actividad_cliente  795003 non-null  float64
 20  renta                  795003 non-null  float64
 21  segmento               790819 non-null  object
 22  ind_ahor_fin_ult1      795003 non-null  int64
 23  ind_aval_fin_ult1      795003 non-null  int64
 24  ind_cco_fin_ult1       795003 non-null  int64
 25  ind_cder_fin_ult1      795003 non-null  int64
 26  ind_cno_fin_ult1       795003 non-null  int64
 27  ind_ctju_fin_ult1      795003 non-null  int64
 28  ind_ctma_fin_ult1      795003 non-null  int64
 29  ind_ctop_fin_ult1      795003 non-null  int64
 30  ind_ctpp_fin_ult1      795003 non-null  int64
 31  ind_deco_fin_ult1      795003 non-null  int64
 32  ind_deme_fin_ult1      795003 non-null  int64
 33  ind_dela_fin_ult1      795003 non-null  int64
 34  ind_ecue_fin_ult1      795003 non-null  int64
 35  ind_fond_fin_ult1      795003 non-null  int64
 36  ind_hip_fin_ult1       795003 non-null  int64
 37  ind_plan_fin_ult1      795003 non-null  int64
 38  ind_pres_fin_ult1      795003 non-null  int64
 39  ind_reca_fin_ult1      795003 non-null  int64
 40  ind_tjcr_fin_ult1      795003 non-null  int64
 41  ind_valo_fin_ult1      795003 non-null  int64
 42  ind_viv_fin_ult1       795003 non-null  int64
 43  ind_nomina_ult1        794991 non-null  float64
 44  ind_nom_pens_ult1      794991 non-null  float64
 45  ind_recibo_ult1        795003 non-null  int64
 46  age_group              788029 non-null  object
dtypes: float64(8), int64(24), object(15)
memory usage: 291.1+ MB

In [135]:
# converting age fron object type to integer
df['age'] = df['age'].astype(int)
df['segmento'] = df['segmento'].astype(int)

ValueError: invalid literal for int() with base 10: '03 - UNIVERSITARIO'

In [20]:
# dropping columns with too little data

df.drop(columns = ['conyuemp','ult_fec_cli_1t'], inplace =True)
df

,fecha_dato,ncodpers,ind_empleado,pais_residencia,sexo,age,fecha_alta,ind_nuevo,antiguedad,indrel,indrel_1mes,tiprel_1mes,indresi,indext,canal_entrada,indfall,tipodom,cod_prov,nomprov,ind_actividad_cliente,renta,segmento,ind_ahor_fin_ult1,ind_aval_fin_ult1,ind_cco_fin_ult1,ind_cder_fin_ult1,ind_cno_fin_ult1,ind_ctju_fin_ult1,ind_ctma_fin_ult1,ind_ctop_fin_ult1,ind_ctpp_fin_ult1,ind_deco_fin_ult1,ind_deme_fin_ult1,ind_dela_fin_ult1,ind_ecue_fin_ult1,ind_fond_fin_ult1,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1
0,2015-01-28,1146077,N,ES,H,22,2013-07-23,0.0,24,1.0,1,I,S,N,KHE,N,1.0,8.0,BARCELONA,0.0,182263.26,03 - UNIVERSITARIO,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
1,2016-04-28,283972,N,ES,V,45,2001-10-19,0.0,174,1.0,1,I,S,N,KAT,N,1.0,8.0,BARCELONA,0.0,113668.83,02 - PARTICULARES,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
2,2015-02-28,539809,N,ES,H,74,2005-07-04,0.0,120,1.0,1,I,S,N,KFC,N,1.0,28.0,MADRID,0.0,135601.89,02 - PARTICULARES,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
3,2016-03-28,554688,N,ES,H,56,2016-03-11,0.0,126,1.0,2,A,S,N,KAT,N,1.0,8.0,BARCELONA,1.0,NaN,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
4,2016-05-28,1189147,N,ES,H,24,2013-10-03,0.0,31,1.0,1,A,S,N,KHE,N,1.0,11.0,CADIZ,1.0,132207.81,03 - UNIVERSITARIO,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,2015-02-28,978388,N,ES,H,26,2011-11-14,0.0,44,1.0,1,I,S,N,KHE,N,1.0,28.0,MADRID,0.0,326978.10,03 - UNIVERSITARIO,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
999996,2016-02-28,1529103,N,ES,H,36,2016-02-01,1.0,0,1.0,1,A,S,N,NaN,N,1.0,37.0,SALAMANCA,1.0,NaN,NaN,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0.0,0.0,0
999997,2015-10-28,382237,N,ES,H,40,2002-09-20,0.0,56,1.0,1,I,S,N,KFC,N,1.0,28.0,MADRID,0.0,150687.69,02 - PARTICULARES,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
999998,2016-02-28,837203,N,ES,H,66,2009-03-03,0.0,83,1.0,1,I,S,N,KAT,N,1.0,8.0,BARCELONA,0.0,110175.75,02 - PARTICULARES,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
999999,2015-10-28,989973,N,ES,V,42,2011-12-05,0.0,46,1.0,1,I,S,S,KFC,N,1.0,28.0,MADRID,0.0,142421.37,02 - PARTICULARES,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0.0,0.0,0

In [24]:
# removed countries that are NOT Spain

a = df.pais_residencia == 'ES'
df = df.loc[a]
df

,fecha_dato,ncodpers,ind_empleado,pais_residencia,sexo,age,fecha_alta,ind_nuevo,antiguedad,indrel,indrel_1mes,tiprel_1mes,indresi,indext,canal_entrada,indfall,tipodom,cod_prov,nomprov,ind_actividad_cliente,renta,segmento,ind_ahor_fin_ult1,ind_aval_fin_ult1,ind_cco_fin_ult1,ind_cder_fin_ult1,ind_cno_fin_ult1,ind_ctju_fin_ult1,ind_ctma_fin_ult1,ind_ctop_fin_ult1,ind_ctpp_fin_ult1,ind_deco_fin_ult1,ind_deme_fin_ult1,ind_dela_fin_ult1,ind_ecue_fin_ult1,ind_fond_fin_ult1,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1
0,2015-01-28,1146077,N,ES,H,22,2013-07-23,0.0,24,1.0,1,I,S,N,KHE,N,1.0,8.0,BARCELONA,0.0,182263.26,03 - UNIVERSITARIO,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
1,2016-04-28,283972,N,ES,V,45,2001-10-19,0.0,174,1.0,1,I,S,N,KAT,N,1.0,8.0,BARCELONA,0.0,113668.83,02 - PARTICULARES,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
2,2015-02-28,539809,N,ES,H,74,2005-07-04,0.0,120,1.0,1,I,S,N,KFC,N,1.0,28.0,MADRID,0.0,135601.89,02 - PARTICULARES,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
3,2016-03-28,554688,N,ES,H,56,2016-03-11,0.0,126,1.0,2,A,S,N,KAT,N,1.0,8.0,BARCELONA,1.0,NaN,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
4,2016-05-28,1189147,N,ES,H,24,2013-10-03,0.0,31,1.0,1,A,S,N,KHE,N,1.0,11.0,CADIZ,1.0,132207.81,03 - UNIVERSITARIO,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,2015-02-28,978388,N,ES,H,26,2011-11-14,0.0,44,1.0,1,I,S,N,KHE,N,1.0,28.0,MADRID,0.0,326978.10,03 - UNIVERSITARIO,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
999996,2016-02-28,1529103,N,ES,H,36,2016-02-01,1.0,0,1.0,1,A,S,N,NaN,N,1.0,37.0,SALAMANCA,1.0,NaN,NaN,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0.0,0.0,0
999997,2015-10-28,382237,N,ES,H,40,2002-09-20,0.0,56,1.0,1,I,S,N,KFC,N,1.0,28.0,MADRID,0.0,150687.69,02 - PARTICULARES,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
999998,2016-02-28,837203,N,ES,H,66,2009-03-03,0.0,83,1.0,1,I,S,N,KAT,N,1.0,8.0,BARCELONA,0.0,110175.75,02 - PARTICULARES,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
999999,2015-10-28,989973,N,ES,V,42,2011-12-05,0.0,46,1.0,1,I,S,S,KFC,N,1.0,28.0,MADRID,0.0,142421.37,02 - PARTICULARES,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0.0,0.0,0

In [31]:
# removed rows with empty income colume

b = df['renta'].notna()
df = df.loc[b]

,fecha_dato,ncodpers,ind_empleado,pais_residencia,sexo,age,fecha_alta,ind_nuevo,antiguedad,indrel,indrel_1mes,tiprel_1mes,indresi,indext,canal_entrada,indfall,tipodom,cod_prov,nomprov,ind_actividad_cliente,renta,segmento,ind_ahor_fin_ult1,ind_aval_fin_ult1,ind_cco_fin_ult1,ind_cder_fin_ult1,ind_cno_fin_ult1,ind_ctju_fin_ult1,ind_ctma_fin_ult1,ind_ctop_fin_ult1,ind_ctpp_fin_ult1,ind_deco_fin_ult1,ind_deme_fin_ult1,ind_dela_fin_ult1,ind_ecue_fin_ult1,ind_fond_fin_ult1,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1
0,2015-01-28,1146077,N,ES,H,22,2013-07-23,0.0,24,1.0,1,I,S,N,KHE,N,1.0,8.0,BARCELONA,0.0,182263.26,03 - UNIVERSITARIO,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
1,2016-04-28,283972,N,ES,V,45,2001-10-19,0.0,174,1.0,1,I,S,N,KAT,N,1.0,8.0,BARCELONA,0.0,113668.83,02 - PARTICULARES,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
2,2015-02-28,539809,N,ES,H,74,2005-07-04,0.0,120,1.0,1,I,S,N,KFC,N,1.0,28.0,MADRID,0.0,135601.89,02 - PARTICULARES,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
4,2016-05-28,1189147,N,ES,H,24,2013-10-03,0.0,31,1.0,1,A,S,N,KHE,N,1.0,11.0,CADIZ,1.0,132207.81,03 - UNIVERSITARIO,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
6,2016-03-28,59723,N,ES,H,57,1997-03-14,0.0,228,1.0,1,A,S,N,KAT,N,1.0,4.0,ALMERIA,1.0,77022.66,01 - TOP,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999994,2015-01-28,1247851,N,ES,H,46,2014-03-11,0.0,16,1.0,1,I,S,N,KAT,N,1.0,26.0,"RIOJA, LA",0.0,56705.61,02 - PARTICULARES,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
999995,2015-02-28,978388,N,ES,H,26,2011-11-14,0.0,44,1.0,1,I,S,N,KHE,N,1.0,28.0,MADRID,0.0,326978.10,03 - UNIVERSITARIO,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
999997,2015-10-28,382237,N,ES,H,40,2002-09-20,0.0,56,1.0,1,I,S,N,KFC,N,1.0,28.0,MADRID,0.0,150687.69,02 - PARTICULARES,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
999998,2016-02-28,837203,N,ES,H,66,2009-03-03,0.0,83,1.0,1,I,S,N,KAT,N,1.0,8.0,BARCELONA,0.0,110175.75,02 - PARTICULARES,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
999999,2015-10-28,989973,N,ES,V,42,2011-12-05,0.0,46,1.0,1,I,S,S,KFC,N,1.0,28.0,MADRID,0.0,142421.37,02 - PARTICULARES,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0.0,0.0,0

In [103]:
c = df['sexo'].notna()
df = df.loc[c]

In [79]:
# grouped by sex

sex = df.groupby('sexo')

In [95]:
sex.median()

,ncodpers,age,ind_nuevo,indrel,tipodom,cod_prov,ind_actividad_cliente,renta,ind_ahor_fin_ult1,ind_aval_fin_ult1,ind_cco_fin_ult1,ind_cder_fin_ult1,ind_cno_fin_ult1,ind_ctju_fin_ult1,ind_ctma_fin_ult1,ind_ctop_fin_ult1,ind_ctpp_fin_ult1,ind_deco_fin_ult1,ind_deme_fin_ult1,ind_dela_fin_ult1,ind_ecue_fin_ult1,ind_fond_fin_ult1,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1
sexo,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
H,968673,35,0.0,1.0,1.0,28.0,0.0,99541.44,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
V,791598,42,0.0,1.0,1.0,28.0,0.0,103889.88,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0

In [92]:
print ((359965.0/795003.0)*100)
print ((435038/795003.0)*100)

45.27844549014281
54.72155450985719

In [83]:
# created column for age groups

def age_group (column):
    if column['age'] <= 29 :
      return '< 30'
    if column['age'] <= 39 :
      return '30 - 39'
    if column['age'] <= 49 :
      return '40 - 49'
    if column['age'] <= 59 :
      return '50 - 59'
    if column['age'] > 60 :
      return '60 +'

In [64]:
df['age_group'] = df.apply (lambda column: age_group(column), axis=1)

In [138]:
def segment (column):
    if column['segmento'] == '01 - TOP' :
      return 1
    if column['segmento'] == '02 - PARTICULARES' :
      return 2
    if column['age'] == '03 - UNIVERSITARIO' :
      return 3

In [139]:
df['segment'] = df.apply (lambda column: segment(column), axis=1)

In [141]:
d = df['segment'].notna()
df = df.loc[b]

In [123]:
# examining dataframe
df = df.drop_duplicates(subset='ncodpers', keep='first')
df

,fecha_dato,ncodpers,ind_empleado,pais_residencia,sexo,age,fecha_alta,ind_nuevo,antiguedad,indrel,indrel_1mes,tiprel_1mes,indresi,indext,canal_entrada,indfall,tipodom,cod_prov,nomprov,ind_actividad_cliente,renta,segmento,ind_ahor_fin_ult1,ind_aval_fin_ult1,ind_cco_fin_ult1,ind_cder_fin_ult1,ind_cno_fin_ult1,ind_ctju_fin_ult1,ind_ctma_fin_ult1,ind_ctop_fin_ult1,ind_ctpp_fin_ult1,ind_deco_fin_ult1,ind_deme_fin_ult1,ind_dela_fin_ult1,ind_ecue_fin_ult1,ind_fond_fin_ult1,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1,age_group
0,2015-01-28,1146077,N,ES,H,22,2013-07-23,0.0,24,1.0,1,I,S,N,KHE,N,1.0,8.0,BARCELONA,0.0,182263.26,03 - UNIVERSITARIO,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0,< 30
1,2016-04-28,283972,N,ES,V,45,2001-10-19,0.0,174,1.0,1,I,S,N,KAT,N,1.0,8.0,BARCELONA,0.0,113668.83,02 - PARTICULARES,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0,40 - 49
2,2015-02-28,539809,N,ES,H,74,2005-07-04,0.0,120,1.0,1,I,S,N,KFC,N,1.0,28.0,MADRID,0.0,135601.89,02 - PARTICULARES,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0,60 +
4,2016-05-28,1189147,N,ES,H,24,2013-10-03,0.0,31,1.0,1,A,S,N,KHE,N,1.0,11.0,CADIZ,1.0,132207.81,03 - UNIVERSITARIO,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0,< 30
6,2016-03-28,59723,N,ES,H,57,1997-03-14,0.0,228,1.0,1,A,S,N,KAT,N,1.0,4.0,ALMERIA,1.0,77022.66,01 - TOP,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0.0,0.0,0,50 - 59
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999978,2015-06-28,1070834,N,ES,H,24,2012-10-01,0.0,33,1.0,1,I,S,N,KHE,N,1.0,41.0,SEVILLA,0.0,59572.29,03 - UNIVERSITARIO,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0,< 30
999987,2015-01-28,19489,N,ES,H,83,1995-06-22,0.0,241,1.0,1,A,S,N,KAT,N,1.0,8.0,BARCELONA,0.0,283835.55,02 - PARTICULARES,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0,60 +
999995,2015-02-28,978388,N,ES,H,26,2011-11-14,0.0,44,1.0,1,I,S,N,KHE,N,1.0,28.0,MADRID,0.0,326978.10,03 - UNIVERSITARIO,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0,< 30
999997,2015-10-28,382237,N,ES,H,40,2002-09-20,0.0,56,1.0,1,I,S,N,KFC,N,1.0,28.0,MADRID,0.0,150687.69,02 - PARTICULARES,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0,40 - 49
999999,2015-10-28,989973,N,ES,V,42,2011-12-05,0.0,46,1.0,1,I,S,S,KFC,N,1.0,28.0,MADRID,0.0,142421.37,02 - PARTICULARES,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0.0,0.0,0,40 - 49

In [124]:
# analyzing income by age and sex

agesex = df.groupby(['age_group', 'sexo'])
agesex['renta'].median()

age_group  sexo
30 - 39    H        93147.300
           V        93480.060
40 - 49    H       110968.050
           V       105695.610
50 - 59    H       121830.120
           V       115091.970
60 +       H       122323.230
           V       123582.345
< 30       H        87662.310
           V        93226.440
Name: renta, dtype: float64

In [125]:
# Loans by age and sex 

agesex['ind_pres_fin_ult1'].sum()

age_group  sexo
30 - 39    H        78
           V       147
40 - 49    H       127
           V       322
50 - 59    H        94
           V       231
60 +       H        57
           V        95
< 30       H         0
           V        16
Name: ind_pres_fin_ult1, dtype: int64

In [126]:
df.to_csv('santander.csv')

In [128]:
from scipy import stats

In [129]:
H = df['sexo'] == 'H'
V = df['sexo'] == 'V'

In [130]:
stats.ttest_ind(df[H]['renta'], df[V]['renta'], equal_var=False)

Ttest_indResult(statistic=-6.078006307492421, pvalue=1.2177923066975841e-09)

In [131]:
stats.ttest_ind(df[H]['ind_pres_fin_ult1'], df[V]['ind_pres_fin_ult1'], equal_var=False)

Ttest_indResult(statistic=-10.643971069514752, pvalue=1.8731110028449022e-26)

In [142]:
stats.ttest_ind(df[H]['segment'], df[V]['segment'], equal_var=False)

Ttest_indResult(statistic=nan, pvalue=nan)

In [132]:
df[H]['renta'].value_counts()

451931.22    117
463625.16     35
128318.52     34
181042.20     30
283325.67     30
            ...
163419.21      1
120350.97      1
57990.18       1
387228.15      1
82810.89       1
Name: renta, Length: 193708, dtype: int64

In [133]:
df[H]['renta']

0         182263.26
2         135601.89
4         132207.81
6          77022.66
7          57638.64
            ...
999947    101246.07
999978     59572.29
999987    283835.55
999995    326978.10
999997    150687.69
Name: renta, Length: 218590, dtype: float64